---------Splitwise----------

// interface which the user uses
// add_expense(User u, ...)
// Expense will be added by some user



- Any user can add an expense
- user details - name, phone, email, address
- expense details - name, date, images, notes, location
- When adding expense, one person pays for their friends
- So the amount must be split amongst friends
- Users can be added
- Various type of expenses
	- split equally amongst all
		- sanity check
	- split unequally
		- enter each amount
		- percentage
		- parts
		- mixed?
		- constraint
- round off to 2 decimal places
- user can see their past expenses
- user can see their net amount
	- in total
	- against each friend
		- sanity for 0 values
- show total of all users

Queries:
- add expense
	- who paid
	- people in the group
	- expense type
	- values if unequal
- show balances
- user balances
- user passbook
- simplify expenses
	-minimize number of transactions